

<div class="container mt-5">

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of blogs; index as i; " >
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td><button  routerLink="/blog-detail/{{item.id}}"  ><i class="fa-solid fa-pen-to-square"></i></button></td>
        <td><button  ><i class="fa-solid fa-circle-info"></i></button></td>
      </tr>
   
    </tbody>
  </table>
  
</div>



